@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


body {
  background-color: green;
}

#userRadioBtnContainer{
  display: flex;
  justify-content: space-around;
  height: 40px;
  background-color: #f8f9fa;
}

.black {
background-color: black;
}