@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: green;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 4;
  align-content: center;
  #message-field{
    width: 75%;
  }
}

#userRadioBtnContainer{
  display: flex;
  justify-content: space-around;
  height: 40px;
  background-color: #f8f9fa;
  margin-top: 50px;
}
